node_modules
configuration.js

KEY: kFxCEa9ng2Q1IOc1RAnEez1RP
SECRET: NZHg1tXbrnCVPW3LKFymeoeEPiOKcK99t4bV7FCO7P1ShGhCqo
TOKEN: 756943066473398276-gB8rtynhoHYqg3zWHc8XKpP5wSoBAEs
TOKEN_SECRET: ExsUveS8cRjlh6Dh1tp17HMUkctUEcUuInbsoOHijuUL2
